/* ===== БАЙЛАНЫС POPUP CSS ===== */

.popup{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    justify-content:center;
    align-items:center;
    z-index:2000;
}

.popup-box{
    background:#001a4d;
    padding:35px;
    border-radius:25px;
    text-align:center;
    color:white;
    max-width:400px;
    width:90%;
    box-shadow:0 10px 30px rgba(0,0,0,0.5);
}

.popup-box h2{
    margin-bottom:15px;
}

.popup-box a{
    display:block;
    margin:12px 0;
    padding:12px;
    background:#0055ff;
    border-radius:12px;
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:0.3s;
}

.popup-box a:hover{
    background:#0077ff;
}

.popup-box button{
    margin-top:15px;
    padding:10px 20px;
    border-radius:10px;
    border:none;
    background:white;
    font-weight:bold;
    cursor:pointer;
}

.popup-box button:hover{
    background:#ddd;
}
